<nav class="nav">
  <a href="/">Home</a>
  <a href="/recorder/">RecordNow!</a>
  <a href="/ideas/" id="nav-saved-snips">Saved Snips</a>
  <a href="/lyrics/">Lyric Book</a>
  <a href="/notes/">Notes &amp; To‑Dos</a>
  <a href="/calendar/">Calendar</a>
  <a href="/productivity/">Pomodoro-Noise!</a>
  <a href="/links/">Links</a>
  <a href="/help/">Help</a>
</nav>
